@using UserCollection.WebAPI.Models
@model UserCollection.WebAPI.Models.ItemModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var currentUser = UserManager.GetUserAsync(User).Result;
}

<h4>Comments:</h4>

@if (Model.Comments.Any())
{
    <ul class="list-group">
        @foreach (var comment in Model.Comments)
        {
            <li class="list-group-item">
                <div>
                    <strong>@comment.Author</strong>
                    <span class="badge badge-primary">@comment.Text</span>
                </div>
                <div>@comment.Text</div>
            </li>
        }
    </ul>
}
else
{
    <p class="alert alert-info" id="noComments">No comments yet.</p>
}
<div id="messagesList">
</div>
@{
    if(currentUser is not null)
    {
        <h4>Add Comment:</h4>

    var newComment = new CommentModel();

<form id="addCommentForm" asp-action="CreateComment" asp-controller="Comment" method="post">
    <input type="hidden" name="ItemId" id="id" value="@Model.Id" />
    <input type="hidden" id="userInput" name="UserName" value="@currentUser.UserName" />
    <div class="form-group">
        <label asp-for="@newComment.Text"></label>
        <textarea id="commentText" class="form-control" name="Text"></textarea>
        <span asp-validation-for="@newComment.Text" class="text-danger"></span>
    </div>
    <button type="submit" id="SendButton" class="btn btn-primary">Add Comment</button>
</form>
    }
}


