@model IEnumerable<UserCollection.WebAPI.Models.ItemModel>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "CollectionItems";
    var currentUser = UserManager.GetUserAsync(User).Result;
    bool isAdmin = User.IsInRole("admin");
    bool isSameUser = false;
    if (currentUser is not null)
    {
        var user = Model.FirstOrDefault();
        if (user is not null)
        {
            isSameUser = currentUser.Id == user.Collection.UserId;
        }
    }
}

<h1>Collection Items</h1>
@if (isSameUser || isAdmin)
{
    <p>
        <a asp-action="CreateItem" asp-route-id="@ViewBag.CollectionId">Create New</a>
    </p>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                Collection
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collection.Name)
            </td>
                <td>
                    @if (isSameUser || isAdmin)
                    {
                        <button onclick="location.href='@Url.Action("ItemEdit", new { id = item.Id })'" class="btn btn-primary">Edit</button>
                        <button onclick="location.href='@Url.Action("ItemDelete", new { id = item.Id })'" class="btn btn-danger">Delete</button>

                    }
                    
                    <button onclick="location.href='@Url.Action("ItemDetails", new { id = item.Id })'" class="btn btn-primary">Details</button> |
                    
                </td>

        </tr>
}
    </tbody>
</table>
<div>
    <button onclick="location.href='@Url.Action("UserCollections", "Collection")'">Back to List</button>
</div>
