@model IEnumerable<UserCollection.WebAPI.Models.ItemModel>


@{
    ViewData["Title"] = "SearchResult";
    var isAdmin = User.IsInRole("admin");
}

<h1>Result</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                Collection
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in isAdmin ? Model : Model.Where(i => i.Collection.IsPrivate == false))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collection.Name)
            </td>
            <td>
                    @Html.ActionLink("Details", "ItemDetails", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
