@{
    ViewData["Title"] = "User list";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>User name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.Users)
        {
            <tr>
                @{
                    if (user.LockoutEnd != null && user.LockoutEnd >= DateTime.Now)
                    {
                        <td style="color: red">@user.UserName</td>
                        <td style="color: red">@user.Email</td>
                    }
                    else
                    {
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                    }

                }
                
                <td>

                    @Html.ActionLink("Details", "UserDetails", new { email = user.Email }) |
                    @Html.ActionLink("Delete", "DeleteUser", new {  id = user.Id })
                    @Html.ActionLink("Block", "BlockUser", new { id = user.Id })
                    @Html.ActionLink("Unblock", "UnlockUser", new {id = user.Id})
                </td>
            </tr>
        }
    </tbody>
</table>