@model UserCollection.WebAPI.Models.CollectionPageViewModel

@{
    ViewData["Title"] = "AllCollections";
    var isAdmin = User.IsInRole("admin");
}

<h1>All collection</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Author
            </th>
            <th>
                 Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var collection in Model.Collections)
        {
            <tr onclick="window.location.href = '@Url.Action("Details", "Collection", new { id = collection.Id })';">
                <td>
                    @Html.DisplayFor(modelItem => collection.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => collection.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => collection.Category.Name)
                </td>
                <td>
                    @(isAdmin ? Html.ActionLink("Edit", "Edit", new { id = collection.Id }) : "")
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <ul class="pagination">
        @for (int i = 1; i <= Model.CountOfPage; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("AllCollections", "Collection", new { pageNumber = i })">@i</a>
            </li>
        }
    </ul>
</div>

