@model IEnumerable<UserCollection.WebAPI.Models.CollectionModel>

@{
    ViewData["Title"] = "AllCollections";
    var isAdmin = User.IsInRole("admin");
}

<h1>All collection</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Author
            </th>
            <th>
                 Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in isAdmin ? Model : Model.Where(c => c.IsPrivate == false))
        {
            <tr onclick="window.location.href = '@Url.Action("Details", "Collection", new { id = item.Id })';">
                <td>
                        @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                        @(isAdmin ? Html.ActionLink("Edit", "Edit", new { id = item.Id }) : "")
                </td>
            </tr>
        }
    </tbody>
</table>
